@charset "UTF-8";
/* common.css : 공통 */

/* a */
	a.color {
		color: orange;
	}
	
	a.bold {
		font-weight: bold;
	}
	
	a:link {text-decoration : none;}
	a:active {text-decoration : underline; color: red;}
	a:visted {text-decoration : none; color: green;}
	a:hover {text-decoration : none; background-color: pink; color: orange;}


table, tr, td ,th {
		border : solid 1px orange;
		margin : 5px;
		padding : 5px;
	}

	div.top_menu {
		text-align: right;
	}
	
	div.top_menu a {
		text-decoration: none;
		font-size: 11px;
	}
	
	span.seperator {
		margin : 0 3px;
		font-size: 0.72em; 
		color: orange;
	}

/* page title */

/* ul, ol 목록 수평 배치 */
ul.menu_item_2, ol.menu_item_2 {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu_item_2 li, ol.menu_item_2 li {
	display: inline; 
	margin-right: 3px;
	font-size: 9px;
	border: solid 1px #808080;
	padding: 5px;
	background-color: #88e478;
}	


/* ul, ol 아이템 목록 : 기존 property 제거*/
ul.menu_item_1, ol.menu_item_1 {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ul li, ol li 설정 */
ul.menu_item_1 li, ol.menu_item_1 li {
	padding: 5px 0 5px 5px;
	margin-bottom: 5px;
	border-bottom: dotted 1px #efefef;
	font-size: 12px;
}

/* ul li, ol li 맨마지막 li 항목은 밑줄 제거 */
ul.menu_item_1 li:last-child, ol.menu_item_1 li:last-child {
	border-bottom: solid 0px #efefef;
}

/* ul li, ol li 항목 앞에 > 아이콘으로 사용 */
ul.menu_item_1 li:before, ol.menu_item_1 li:before{
	content: "> "; 
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px 6px 0;
}	

